.rightButtons-wrap {
    position: fixed;
    top: 45%;
    right: -55px;
    z-index: 15;
    color: #fff;
    background-color: #923336;
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    width: 160px;
    height: 40px;
}

.rightButtonsText {
    margin: 10px;
}

